body {
    font-size: 2.5em;
}


/*div {
    border: 1px solid black;
}*/

.container {
    margin: 10% 20% 10% 20%;
}

.buttonbox {
    text-align: left;
    margin: 5% 0%;
}

.button {
    background-color: #000;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .5em;
}